%h1 Brothers

.box.brother.full
  %img.photo.left.crop{:src => image_path('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/s720x720/1509078_10152718761237627_1451799555_n.jpg?oh=5178db839a408692f0d5e2aa5278344e&oe=554930EA&__gda__=1435816917_9a397c54a5d9d330a1d625936e9beab6')}
  %h3 Quincy Liu - Consul
  %p The brothers of Sigma Chi Lambda Pi strive to be the preeminent leadership organization on our campus. We push towards this goal by stressing the importance of developing brotherhood amongst our members, as well as the importance of the strong character expected from each of our members. We work daily to create a positive impact on our members, our campus and our community. Our brotherhood is focused on fighting the negative stigma around Greek Life by behaving as leaders of good character at all times. We are always looking for emerging leaders on campus to bring into our brotherhood to support their and our own development.

.box.brother
  %img.photo.left.crop{:src => image_path('https://scontent-b-iad.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10553453_10204814314341956_904190958773371967_n.jpg?oh=53eec5fa9c81a9b68977a17c5337f347&oe=555F074B')}
  %h3 Kevin Chiu - Pro Consul
  %ul
    %li Major: Information Systems & Economics
    %li Year: Junior
    %li Hometown: Brooklyn, NY
    %li Favorite Thing: Basketball

.box.brother
  %img.photo.left.crop{:src => image_path('https://scontent-2.2914.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/46313_10151730026444465_1912687369_n.jpg?oh=e60ac804aaeec3b6bef8d9c9c1252b17&oe=555BBC9D')}
  %h3 Matthew Baker - Treasurer 
  %ul
    %li Major: Material Science & Economics
    %li Year: Junior
    %li Hometown: Spokane, WA
    %li Favorite Thing: Skiing

.box.brother
  %img.photo.left.crop{:src => image_path('https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10641014_10204012134698072_382042813872065444_n.jpg?oh=1d9e3b4d978c8fb2edd18e36971cd09e&oe=55628F4E&__gda__=1432166430_e5359fbed70c2f1f12d0ed7d514b7aa5')}
  %h3 Ben Junker - Annotator
  %ul
    %li Major: Information Systems
    %li Year: Sophomore
    %li Hometown: Pittsburgh, PA
    %li Favorite Thing: Farming

.box.brother
  %img.photo.left.crop{:src => image_path('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1465389_10152060919233394_141807332_n.jpg?oh=f335ef17afc1e4552a8f48eeb6940478&oe=55240B18&__gda__=1432928576_abc3cc53643fe78806728d344bce93f8')}
  %h3 Jonathan Simmons - Rush Chair
  %ul
    %li Major: Business Administration
    %li Year: Freshman
    %li Hometown: Wilmington, NC
    %li Favorite Thing: Romantic walks

.box.brother
  %img.photo.left.crop{:src => image_path('brothers/gus-henry.png')}
  %h3 Gus Henry - Social Chair
  %ul
    %li Major: Information Systems
    %li Year: Sophomore
    %li Hometown: Wichta, KS
    %li Favorite Thing: Farming

.box.brother
  %img.photo.left.crop{:src => image_path('https://scontent-b-iad.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10300511_10205445356519901_2369093449293061379_n.jpg?oh=c1dc4d5817877e3d237d3370ab44cfa9&oe=55551D53')}
  %h3 Brad Fulton - New Member Educator
  %ul
    %li Major: Materials Science
    %li Year: Junior
    %li Hometown: Pittsburgh, PA
    %li Favorite Thing: Hockey

.box.brother
  %img.photo.left.crop{:src => image_path('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10615595_10204808531997401_7001733732706122211_n.jpg?oh=fd5b37212cf30dca867ad406aa008efd&oe=5561165A&__gda__=1432096951_375881ee301c0f20bda1e8f6db06f377')}
  %h3 Martin Grodzicki - Risk Manager
  %ul
    %li Major: Materials Science
    %li Year: Junior
    %li Hometown: San Carlos, CA
    %li Favorite Thing: Soccer

.box.brother
  %img.photo.left.crop{:src => image_path('https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/10420297_10100165615447391_81198213704278614_n.jpg?oh=0024cba94ed1507869de91c402f099f7&oe=5549564D&__gda__=1432334631_63610dca0369d5cdbfbd70cac74b2689')}
  %h3 Justin Bala-Hampton - Chapter Advisor
  %ul
    %li Hometown: Monterey, CA
    %li Favorite Thing: Waterpolo, Sigma Chi and Medicine

%h2 Active Brothers
.box.brother
  %h3 Alpha Class
  %ul
    %li Adams, Jarrett (2011)
    %li Alford, Wade
    %li Bender, Jonathan
    %li Bernero, Greg
    %li Carroll, Nolan
    %li Cartagena, Rafael
    %li Choo, Yang
    %li Cosio, Benjamin
    %li Frick, Joe
    %li Gilbert, Kevin
    %li Hogan, Patrick
    %li Lo, Hector
    %li Medina, Juan
    %li Nedab, Oliver
    %li Orbegozo, Dan
    %li Shepard, Scott
    %li Shoup, John
    %li Valz, Jonathan
    %li Wadhwani, Rohan
    %li Wong, JR
    %li Zakko, Philip

.box.brother
  %h3 Beta Class
  %ul
    %li Bai, Edward
    %li Holliday, Chris
    %li Leach, Bryan
    %li Murby, Dan
    %li Shi, Jay
    %li Vargo, Seth
    %li Willig, Andrew

.box.brother
  %h3 Gamma Class
  %ul
    %li Chen, Stephen
    %li Croughan, Bill
    %li De Lucia, Francis
    %li Fisch, Evan
    %li Fulton, Kevin
    %li Hahm, Taeson
    %li Hudson, Andrew
    %li Jackson, Lawrence
    %li Kwon, Joon
    %li McCullough, Joel
    %li Popa, Paul
    %li Sethi, Sid
    %li Singh, Anish
    %li Swen, Dylan
    %li Tiwari, Arpit
    %li Von Stange, Rob

.box.brother
  %h3 Delta Class
  %ul
    %li Beisswanger, Bryce
    %li Dave, Rushi
    %li Narayan, Utkarsh
    %li Sclafani, Nick
    %li Vijayraghavan, Varun

.box.brother
  %h3 Epsilon Class
  %ul
    %li Baker, Matt
    %li Hobeika, Gabe
    %li Balaji, Vinay
    %li Mansley, Zach
    %li Grodzicki, Martin
    %li Brown, Max
    %li Fulton, Brad
    %li Manners, Dan
    %li Sanders, Will
    %li Lam, Ben

.box.brother
  %h3 Zeta Class
  %ul
    %li Chiu, Kevin
    %li Hoffman, Trevor
    %li Khemka, Rishab
    %li Prabha, Santosh

.box.brother
  %h3 Eta Class
  %ul
    %li Culberston, Morgan
    %li Dominici, Phil
    %li Emore, OG
    %li Henry, Gus
    %li Hilliard, Justin
    %li Johnson, Dillon
    %li Krishna, Dhruva
    %li Liu, Quincy
    %li Pearce, Ryan
    %li Rueda, Anthony
    %li Shumway, John
    %li Sickles, Ryan

.box.brother
  %h3 Theta Class
  %ul
    %li Gupta, Veer
    %li Jibril, Warfa
    %li Nilakantan, Nikhil
    %li Padilla, Tony

.box.brother 
  %h3 Iota Class
  %ul
    %li Bheemidi, Abhinav
    %li Campbell, Ian
    %li Cohen, Jake
    %li Friedman, Ian
    %li Gao, David
    %li Gruber, Matt
    %li Hurtado, Carlos
    %li Jang, Ben
    %li Junker, Ben
    %li Kee, Zijia
    %li Lopez, Jonathan
    %li Matvej, David
    %li Pendurthi, Arvind
    %li Rice, Jacob
    %li Seifert, Matt
    %li Shah, Aashil
    %li Simmons, Jonathan
    %li Wise, Glen

:javascript
  $(function() {
    $('.fancybox').fancybox();
  });
